In [3]:
import pandas as pd

In [4]:
pd.__version__

'0.23.4'

In [6]:
df = pd.read_csv("/data/insurance.csv")

In [7]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [10]:
df.tail()

      age  gender    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [11]:
df.sample(n = 10)

      age  gender     bmi  children smoker     region      charges
1025   21  female  34.600         0     no  southwest   2020.17700
377    24    male  40.150         0    yes  southeast  38126.24650
1270   26    male  33.915         1     no  northwest   3292.52985
744    50    male  26.410         0     no  northwest   8827.20990
47     28  female  34.770         0     no  northwest   3556.92230
197    45  female  28.600         2     no  southeast   8516.82900
154    40  female  25.460         1     no  northeast   7077.18940
130    59  female  26.505         0     no  northeast  12815.44495
1186   20    male  35.625         3    yes  northwest  37465.34375
727    29  female  21.755         1    yes  northeast  16657.71745

# Common operations

1. Slice the dataframe by column names, column indices or row indices
2. Filter 
3. Sorting 
4. Aggregation 
5. Shape 
6. Pivot
7. Merge / join

In [13]:
df.iloc[10:15, :]

    age  gender    bmi  children smoker     region     charges
10   25    male  26.22         0     no  northeast   2721.3208
11   62  female  26.29         0    yes  southeast  27808.7251
12   23    male  34.40         0     no  southwest   1826.8430
13   56  female  39.82         0     no  southeast  11090.7178
14   27    male  42.13         0    yes  southeast  39611.7577

In [14]:
df.iloc[10:15, 1:6]

    gender    bmi  children smoker     region
10    male  26.22         0     no  northeast
11  female  26.29         0    yes  southeast
12    male  34.40         0     no  southwest
13  female  39.82         0     no  southeast
14    male  42.13         0    yes  southeast

In [16]:
df.iloc[10:15, [4, 1, 2]]

   smoker  gender    bmi
10     no    male  26.22
11    yes  female  26.29
12     no    male  34.40
13     no  female  39.82
14    yes    male  42.13

In [17]:
df[["smoker", "gender", "bmi"]]

     smoker  gender     bmi
0       yes  female  27.900
1        no    male  33.770
2        no    male  33.000
3        no    male  22.705
4        no    male  28.880
5        no  female  25.740
6        no  female  33.440
7        no  female  27.740
8        no    male  29.830
9        no  female  25.840
10       no    male  26.220
11      yes  female  26.290
12       no    male  34.400
13       no  female  39.820
14      yes    male  42.130
15       no    male  24.600
16       no  female  30.780
17       no    male  23.845
18       no    male  40.300
19      yes    male  35.300
20       no  female  36.005
21       no  female  32.400
22       no    male  34.100
23      yes  female  31.920
24       no    male  28.025
25       no  female  27.720
26       no  female  23.085
27       no  female  32.775
28       no    male  17.385
29      yes    male  36.300
...     ...     ...     ...
1308    yes  female  30.200
1309     no    male  32.200
1310     no    male  26.315
1311     no  female  26.695
1312     no    male  42.900
1313    yes  female  34.700
1314    yes  female  23.655
1315     no    male  28.310
1316     no  female  20.600
1317     no    male  53.130
1318     no    male  39.710
1319     no  female  26.315
1320     no    male  31.065
1321    yes    male  26.695
1322     no    male  38.830
1323    yes  female  40.370
1324     no    male  25.935
1325     no    male  33.535
1326     no  female  32.870
1327     no    male  30.030
1328     no  female  24.225
1329     no    male  38.600
1330     no  female  25.740
1331     no  female  33.400
1332     no  female  44.700
1333     no    male  30.970
1334     no  female  31.920
1335     no  female  36.850
1336     no  female  25.800
1337    yes  female  29.070

[1338 rows x 3 columns]

In [18]:
df["smoker"]

0       yes
1        no
2        no
3        no
4        no
5        no
6        no
7        no
8        no
9        no
10       no
11      yes
12       no
13       no
14      yes
15       no
16       no
17       no
18       no
19      yes
20       no
21       no
22       no
23      yes
24       no
25       no
26       no
27       no
28       no
29      yes
       ...
1308    yes
1309     no
1310     no
1311     no
1312     no
1313    yes
1314    yes
1315     no
1316     no
1317     no
1318     no
1319     no
1320     no
1321    yes
1322     no
1323    yes
1324     no
1325     no
1326     no
1327     no
1328     no
1329     no
1330     no
1331     no
1332     no
1333     no
1334     no
1335     no
1336     no
1337    yes
Name: smoker, Length: 1338, dtype: object

In [22]:
selectors = df.gender == "female"
type(selectors)

pandas.core.series.Series

In [23]:
df[df.gender == "female"]

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
9      60  female  25.840         0     no  northwest  28923.13692
11     62  female  26.290         0    yes  southeast  27808.72510
13     56  female  39.820         0     no  southeast  11090.71780
16     52  female  30.780         1     no  northeast  10797.33620
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
23     34  female  31.920         1    yes  northeast  37701.87680
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
31     18  female  26.315         0     no  northeast   2198.18985
32     19  female  28.600         5     no  southwest   4687.79700
36     62  female  32.965         3     no  northwest  15612.19335
40     24  female  26.600         0     no  northeast   3046.06200
41     31  female  36.630         2     no  southeast   4949.75870
43     37  female  30.800         2     no  southeast   6313.75900
46     18  female  38.665         2     no  northeast   3393.35635
47     28  female  34.770         0     no  northwest   3556.92230
48     60  female  24.530         0     no  southeast  12629.89670
50     18  female  35.625         0     no  northeast   2211.13075
51     21  female  33.630         2     no  northwest   3579.82870
54     40  female  28.690         3     no  northwest   8059.67910
56     58  female  31.825         2     no  northeast  13607.36875
58     53  female  22.880         1    yes  southeast  23244.79020
59     34  female  37.335         2     no  northwest   5989.52365
63     28  female  25.935         1     no  northwest   4133.64165
...   ...     ...     ...       ...    ...        ...          ...
1277   32  female  29.735         0     no  northwest   4357.04365
1279   25  female  26.790         2     no  northwest   4189.11310
1280   48  female  33.330         0     no  southeast   8283.68070
1281   47  female  27.645         2    yes  northwest  24535.69855
1282   18  female  21.660         0    yes  northeast  14283.45940
1285   47  female  24.320         0     no  northeast   8534.67180
1286   28  female  17.290         0     no  northeast   3732.62510
1287   36  female  25.900         1     no  southwest   5472.44900
1290   38  female  19.950         2     no  northeast   7133.90250
1297   28  female  26.510         2     no  southeast   4340.44090
1299   19  female  25.745         1     no  northwest   2710.82855
1302   25  female  20.800         1     no  southwest   3208.78700
1305   24  female  27.720         0     no  southeast   2464.61880
1306   29  female  21.850         0    yes  northeast  16115.30450
1308   25  female  30.200         0    yes  southwest  33900.65300
1311   33  female  26.695         0     no  northwest   4571.41305
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1316   19  female  20.600         0     no  southwest   1731.67700
1319   39  female  26.315         2     no  northwest   7201.70085
1323   42  female  40.370         2    yes  southeast  43896.37630
1326   42  female  32.870         0     no  northeast   7050.02130
1328   23  female  24.225         2     no  northeast  22395.74424
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[662 rows x 7 columns]

In [24]:
df[(df.gender == "female") & (df.smoker == "yes")]

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
11     62  female  26.290         0    yes  southeast  27808.72510
23     34  female  31.920         1    yes  northeast  37701.87680
58     53  female  22.880         1    yes  southeast  23244.79020
64     20  female  22.420         0    yes  northwest  14711.74380
70     27  female  24.750         0    yes  southeast  16577.77950
84     37  female  34.800         2    yes  southwest  39836.51900
86     57  female  31.160         0    yes  northwest  43578.93940
94     64  female  31.300         2    yes  southwest  47291.05500
103    61  female  29.920         3    yes  southeast  30942.19180
117    29  female  27.940         1    yes  southeast  19107.77960
126    19  female  28.300         0    yes  southwest  17081.08000
128    32  female  17.765         2    yes  northwest  32734.18630
153    42  female  23.370         0    yes  northeast  19964.74630
160    42  female  26.600         0    yes  northwest  21348.70600
161    18  female  36.850         0    yes  southeast  36149.48350
175    63  female  37.700         0    yes  southwest  48824.45000
203    27  female  36.080         0    yes  southeast  37133.89820
235    40  female  22.220         2    yes  southeast  19444.26580
240    23  female  36.670         2    yes  northeast  38511.62830
244    63  female  27.740         0    yes  northeast  29523.16560
251    63  female  32.200         2    yes  southwest  47305.30500
261    20  female  26.840         1    yes  southeast  17085.26760
280    40  female  28.120         1    yes  northeast  22331.56680
288    59  female  36.765         1    yes  northeast  47896.79135
301    53  female  22.610         3    yes  northeast  24873.38490
314    27  female  31.400         0    yes  southwest  34838.87300
328    64  female  33.800         1    yes  southwest  47928.03000
330    61  female  36.385         1    yes  northeast  48517.56315
362    19  female  21.700         0    yes  southwest  13844.50600
...   ...     ...     ...       ...    ...        ...          ...
1040   35  female  28.025         0    yes  northwest  20234.85475
1045   43  female  24.700         2    yes  northwest  21880.82000
1085   39  female  18.300         5    yes  southwest  19023.26000
1093   22  female  30.400         0    yes  northwest  33907.54800
1096   51  female  34.960         2    yes  northeast  44641.19740
1100   33  female  19.095         2    yes  northeast  16776.30405
1112   48  female  25.850         3    yes  southeast  24180.93350
1120   23  female  31.400         0    yes  southwest  34166.27300
1122   53  female  36.860         3    yes  northwest  46661.44240
1124   23  female  42.750         1    yes  northeast  40904.19950
1139   19  female  32.490         0    yes  northwest  36898.73308
1152   43  female  32.560         3    yes  southeast  40941.28540
1171   43  female  26.700         2    yes  southwest  22478.60000
1176   52  female  24.130         1    yes  northwest  23887.66270
1184   23  female  28.490         1    yes  southeast  18328.23810
1188   43  female  25.270         1    yes  northeast  21771.34230
1196   19  female  30.020         0    yes  northwest  33307.55080
1204   18  female  27.280         3    yes  southeast  18223.45120
1208   37  female  25.555         1    yes  northeast  20296.86345
1218   46  female  34.600         1    yes  southwest  41661.60200
1223   20  female  24.420         0    yes  southeast  26125.67477
1231   20  female  21.800         0    yes  southwest  20167.33603
1281   47  female  27.645         2    yes  northwest  24535.69855
1282   18  female  21.660         0    yes  northeast  14283.45940
1306   29  female  21.850         0    yes  northeast  16115.30450
1308   25  female  30.200         0    yes  southwest  33900.65300
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1323   42  female  40.370         2    yes  southeast  43896.37630
1337   61  female  29.070         0    yes  northwest  29141.36030

[115 rows x 7 columns]

In [25]:
df.query("smoker == 'yes' and gender == 'female'")

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
11     62  female  26.290         0    yes  southeast  27808.72510
23     34  female  31.920         1    yes  northeast  37701.87680
58     53  female  22.880         1    yes  southeast  23244.79020
64     20  female  22.420         0    yes  northwest  14711.74380
70     27  female  24.750         0    yes  southeast  16577.77950
84     37  female  34.800         2    yes  southwest  39836.51900
86     57  female  31.160         0    yes  northwest  43578.93940
94     64  female  31.300         2    yes  southwest  47291.05500
103    61  female  29.920         3    yes  southeast  30942.19180
117    29  female  27.940         1    yes  southeast  19107.77960
126    19  female  28.300         0    yes  southwest  17081.08000
128    32  female  17.765         2    yes  northwest  32734.18630
153    42  female  23.370         0    yes  northeast  19964.74630
160    42  female  26.600         0    yes  northwest  21348.70600
161    18  female  36.850         0    yes  southeast  36149.48350
175    63  female  37.700         0    yes  southwest  48824.45000
203    27  female  36.080         0    yes  southeast  37133.89820
235    40  female  22.220         2    yes  southeast  19444.26580
240    23  female  36.670         2    yes  northeast  38511.62830
244    63  female  27.740         0    yes  northeast  29523.16560
251    63  female  32.200         2    yes  southwest  47305.30500
261    20  female  26.840         1    yes  southeast  17085.26760
280    40  female  28.120         1    yes  northeast  22331.56680
288    59  female  36.765         1    yes  northeast  47896.79135
301    53  female  22.610         3    yes  northeast  24873.38490
314    27  female  31.400         0    yes  southwest  34838.87300
328    64  female  33.800         1    yes  southwest  47928.03000
330    61  female  36.385         1    yes  northeast  48517.56315
362    19  female  21.700         0    yes  southwest  13844.50600
...   ...     ...     ...       ...    ...        ...          ...
1040   35  female  28.025         0    yes  northwest  20234.85475
1045   43  female  24.700         2    yes  northwest  21880.82000
1085   39  female  18.300         5    yes  southwest  19023.26000
1093   22  female  30.400         0    yes  northwest  33907.54800
1096   51  female  34.960         2    yes  northeast  44641.19740
1100   33  female  19.095         2    yes  northeast  16776.30405
1112   48  female  25.850         3    yes  southeast  24180.93350
1120   23  female  31.400         0    yes  southwest  34166.27300
1122   53  female  36.860         3    yes  northwest  46661.44240
1124   23  female  42.750         1    yes  northeast  40904.19950
1139   19  female  32.490         0    yes  northwest  36898.73308
1152   43  female  32.560         3    yes  southeast  40941.28540
1171   43  female  26.700         2    yes  southwest  22478.60000
1176   52  female  24.130         1    yes  northwest  23887.66270
1184   23  female  28.490         1    yes  southeast  18328.23810
1188   43  female  25.270         1    yes  northeast  21771.34230
1196   19  female  30.020         0    yes  northwest  33307.55080
1204   18  female  27.280         3    yes  southeast  18223.45120
1208   37  female  25.555         1    yes  northeast  20296.86345
1218   46  female  34.600         1    yes  southwest  41661.60200
1223   20  female  24.420         0    yes  southeast  26125.67477
1231   20  female  21.800         0    yes  southwest  20167.33603
1281   47  female  27.645         2    yes  northwest  24535.69855
1282   18  female  21.660         0    yes  northeast  14283.45940
1306   29  female  21.850         0    yes  northeast  16115.30450
1308   25  female  30.200         0    yes  southwest  33900.65300
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1323   42  female  40.370         2    yes  southeast  43896.37630
1337   61  female  29.070         0    yes  northwest  29141.36030

[115 rows x 7 columns]

In [26]:
df.shape

(1338, 7)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
gender      1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [30]:
df.sort_values("age", ascending = False)

      age  gender     bmi  children smoker     region       charges
335    64    male  34.500         0     no  southwest  13822.803000
603    64  female  39.050         3     no  southeast  16085.127500
752    64    male  37.905         0     no  northwest  14210.535950
1265   64    male  23.760         0    yes  southeast  26926.514400
534    64    male  40.480         0     no  southeast  13831.115200
328    64  female  33.800         1    yes  southwest  47928.030000
768    64  female  39.700         0     no  southwest  14319.031000
1241   64    male  36.960         2    yes  southeast  49577.662400
62     64    male  24.700         1     no  northwest  30166.618170
801    64  female  35.970         0     no  southeast  14313.846300
825    64  female  31.825         2     no  northeast  16069.084750
378    64  female  30.115         3     no  northwest  16455.707850
398    64    male  25.600         2     no  southwest  14988.432000
402    64  female  32.965         0     no  northwest  14692.669350
890    64  female  26.885         0    yes  northwest  29330.983150
94     64  female  31.300         2    yes  southwest  47291.055000
420    64    male  33.880         0    yes  southeast  46889.261200
1051   64    male  26.410         0     no  northeast  14394.557900
418    64    male  39.160         1     no  southeast  14418.280400
199    64  female  39.330         0     no  northeast  14901.516700
635    64    male  38.190         0     no  northeast  14410.932100
664    64  female  22.990         0    yes  southeast  27037.914100
170    63    male  41.470         0     no  southeast  13405.390300
343    63    male  36.765         0     no  northeast  13981.850350
1068   63    male  21.660         1     no  northwest  14349.854400
1236   63  female  21.660         0     no  northeast  14449.854400
419    63  female  26.980         0    yes  northwest  28950.469200
175    63  female  37.700         0    yes  southwest  48824.450000
480    63    male  41.325         3     no  northwest  15555.188750
830    63    male  33.100         0     no  southwest  13393.756000
...   ...     ...     ...       ...    ...        ...           ...
157    18    male  25.175         0    yes  northeast  15518.180250
1150   18  female  30.305         0     no  northeast   2203.735950
1163   18  female  28.215         0     no  northeast   2200.830850
1170   18    male  27.360         1    yes  northeast  17178.682400
121    18    male  23.750         0     no  northeast   1705.624500
1215   18    male  39.140         0     no  northeast  12890.057650
102    18  female  30.115         0     no  northeast  21344.846700
250    18    male  17.290         2    yes  northeast  12829.455100
57     18    male  31.680         2    yes  southeast  34303.167200
469    18  female  24.090         1     no  southeast   2201.097100
911    18    male  31.730         0    yes  northeast  33732.686700
442    18    male  43.010         0     no  southeast   1149.395900
866    18    male  37.290         0     no  southeast   1141.445100
427    18  female  29.165         0     no  northeast   7323.734819
31     18  female  26.315         0     no  northeast   2198.189850
1283   18    male  30.030         1     no  southeast   1720.353700
1282   18  female  21.660         0    yes  northeast  14283.459400
399    18  female  38.170         0     no  southeast   1631.668300
898    18  female  40.260         0     no  southeast   1634.573400
1212   18    male  21.470         0     no  northeast   1702.455300
270    18    male  29.370         1     no  southeast   1719.436300
359    18  female  20.790         0     no  southeast   1607.510100
354    18  female  38.280         0     no  southeast  14133.037750
938    18    male  26.180         2     no  southeast   2304.002200
940    18    male  23.210         0     no  southeast   1121.873900
942    18  female  40.185         0     no  northeast   2217.469150
46     18  female  38.665         2     no  northeast   3393.356350
295    18    male  22.990         0     no  northeast   1704.568100
50     18  female  35.625         0     no  northeast   2211.130750
648    18    male  28.500         0     no  northeast   1712.227000

[1338 rows x 7 columns]

In [32]:
df.sort_values(["age", "bmi"], ascending = [True, False])

      age  gender     bmi  children smoker     region      charges
1317   18    male  53.130         0     no  southeast   1163.46270
442    18    male  43.010         0     no  southeast   1149.39590
803    18  female  42.240         0    yes  southeast  38792.68560
781    18    male  41.140         0     no  southeast   1146.79660
728    18  female  40.280         0     no  northeast   2217.60120
898    18  female  40.260         0     no  southeast   1634.57340
942    18  female  40.185         0     no  northeast   2217.46915
1248   18  female  39.820         0     no  southeast   1633.96180
600    18  female  39.160         0     no  southeast   1633.04440
1215   18    male  39.140         0     no  northeast  12890.05765
46     18  female  38.665         2     no  northeast   3393.35635
181    18  female  38.280         0     no  southeast   1631.82120
354    18  female  38.280         0     no  southeast  14133.03775
399    18  female  38.170         0     no  southeast   1631.66830
759    18    male  38.170         0    yes  southeast  36307.79830
571    18  female  37.290         1     no  southeast   2219.44510
866    18    male  37.290         0     no  southeast   1141.44510
161    18  female  36.850         0    yes  southeast  36149.48350
1335   18  female  36.850         0     no  southeast   1629.83350
50     18  female  35.625         0     no  northeast   2211.13075
710    18    male  35.200         1     no  southeast   1727.54000
194    18    male  34.430         0     no  southeast   1137.46970
22     18    male  34.100         0     no  southeast   1137.01100
525    18  female  33.880         0     no  southeast  11482.63485
1      18    male  33.770         1     no  southeast   1725.55230
663    18    male  33.660         0     no  southeast   1136.39940
623    18    male  33.535         0    yes  northeast  34617.84065
1244   18    male  33.330         0     no  southeast   1135.94070
612    18  female  33.155         0     no  northeast   2207.69745
564    18  female  32.120         2     no  southeast   2801.25880
...   ...     ...     ...       ...    ...        ...          ...
33     63    male  28.310         0     no  northwest  13770.09790
244    63  female  27.740         0    yes  northeast  29523.16560
419    63  female  26.980         0    yes  northwest  28950.46920
287    63  female  26.220         0     no  northwest  14256.19280
1125   63  female  25.080         0     no  northwest  14254.60820
26     63  female  23.085         0     no  northeast  14451.83515
1068   63    male  21.660         1     no  northwest  14349.85440
1236   63  female  21.660         0     no  northeast  14449.85440
534    64    male  40.480         0     no  southeast  13831.11520
768    64  female  39.700         0     no  southwest  14319.03100
199    64  female  39.330         0     no  northeast  14901.51670
418    64    male  39.160         1     no  southeast  14418.28040
603    64  female  39.050         3     no  southeast  16085.12750
635    64    male  38.190         0     no  northeast  14410.93210
752    64    male  37.905         0     no  northwest  14210.53595
1241   64    male  36.960         2    yes  southeast  49577.66240
801    64  female  35.970         0     no  southeast  14313.84630
335    64    male  34.500         0     no  southwest  13822.80300
420    64    male  33.880         0    yes  southeast  46889.26120
328    64  female  33.800         1    yes  southwest  47928.03000
402    64  female  32.965         0     no  northwest  14692.66935
825    64  female  31.825         2     no  northeast  16069.08475
94     64  female  31.300         2    yes  southwest  47291.05500
378    64  female  30.115         3     no  northwest  16455.70785
890    64  female  26.885         0    yes  northwest  29330.98315
1051   64    male  26.410         0     no  northeast  14394.55790
398    64    male  25.600         2     no  southwest  14988.43200
62     64    male  24.700         1     no  northwest  30166.61817
1265   64    male  23.760         0    yes  southeast  26926.51440
664    64  female  22.990         0    yes  southeast  27037.91410

[1338 rows x 7 columns]

In [35]:
df.groupby("gender").charges.mean()

gender
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [37]:
df.groupby("gender").charges.agg(["mean", "median", "min", "max", "std"])

                mean      median        min          max           std
gender
female  12569.578844  9412.96250  1607.5101  63770.42801  11128.703801
male    13956.751178  9369.61575  1121.8739  62592.87309  12971.025915

In [38]:
df.groupby("gender").agg({"charges": "mean", "age": "mean"})

             charges        age
gender
female  12569.578844  39.503021
male    13956.751178  38.917160

In [39]:
df.groupby("gender").agg({"charges": ["mean", "min", "max"]
                          , "age": ["mean", "min", "max"]})

             charges                                age
                mean        min          max       mean min max
gender
female  12569.578844  1607.5101  63770.42801  39.503021  18  64
male    13956.751178  1121.8739  62592.87309  38.917160  18  64

In [40]:
df.groupby(["gender", "region"]).agg({"charges": ["mean", "min", "max"]
                          , "age": ["mean", "min", "max"]})

                       charges                                 age
                          mean         min          max       mean min max
gender region
female northeast  12953.203151  2196.47320  58571.07448  39.639752  18  64
       northwest  12479.870397  2117.33885  55135.40209  39.591463  19  64
       southeast  13499.669243  1607.51010  63770.42801  39.108571  18  64
       southwest  11274.411264  1727.78500  48824.45000  39.703704  19  64
male   northeast  13854.005374  1694.79640  48549.17835  38.901840  18  64
       northwest  12354.119575  1621.34020  60021.39897  38.795031  19  64
       southeast  15879.617173  1121.87390  62592.87309  38.783069  18  64
       southwest  13412.883576  1241.56500  52590.82939  39.208589  19  64

In [42]:
df[(df.gender == "female") & (df.region == "northeast")].charges.mean()

12953.203151298134

In [44]:
df.pivot_table("charges", "region", "gender", aggfunc="min")

gender         female       male
region
northeast  2196.47320  1694.7964
northwest  2117.33885  1621.3402
southeast  1607.51010  1121.8739
southwest  1727.78500  1241.5650

In [45]:
startups = pd.read_csv("/data/startups.csv")
startups

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11              NaN    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47        NaN       135426.92              NaN  California   42559.73
48     542.05        51743.15              NaN    New York   35673.41
49        NaN       116983.80         45173.06  California   14681.40

In [46]:
startups.isnull()

    R&D Spend  Administration  Marketing Spend  State  Profit
0       False           False            False  False   False
1       False           False            False  False   False
2       False           False            False  False   False
3       False           False            False  False   False
4       False           False            False  False   False
5       False           False            False  False   False
6       False           False            False  False   False
7       False           False            False  False   False
8       False           False            False  False   False
9       False           False            False  False   False
10      False           False            False  False   False
11      False           False            False  False   False
12      False           False            False  False   False
13      False           False            False  False   False
14      False           False            False  False   False
15      False           False            False  False   False
16      False           False            False  False   False
17      False           False            False  False   False
18      False           False            False  False   False
19      False           False             True  False   False
20      False           False            False  False   False
21      False           False            False  False   False
22      False           False            False  False   False
23      False           False            False  False   False
24      False           False            False  False   False
25      False           False            False  False   False
26      False           False            False  False   False
27      False           False            False  False   False
28      False           False            False  False   False
29      False           False            False  False   False
30      False           False            False  False   False
31      False           False            False  False   False
32      False           False            False  False   False
33      False           False            False  False   False
34      False           False            False  False   False
35      False           False            False  False   False
36      False           False            False  False   False
37      False           False            False  False   False
38      False           False            False  False   False
39      False           False            False  False   False
40      False           False            False  False   False
41      False           False            False  False   False
42      False           False            False  False   False
43      False           False            False  False   False
44      False           False            False  False   False
45      False           False            False  False   False
46      False           False            False  False   False
47       True           False             True  False   False
48      False           False             True  False   False
49       True           False            False  False   False

In [47]:
startups.isnull().sum()

R&D Spend          2
Administration     0
Marketing Spend    3
State              0
Profit             0
dtype: int64

In [48]:
startups.isnull().sum().sum()

5

In [49]:
startups.shape

(50, 5)

In [50]:
startups.isnull().sum().sum() /(50*5)

0.02

In [52]:
startups.isnull().sum(axis = 1)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    2
48    1
49    1
dtype: int64

In [53]:
startups[startups.isnull().sum(axis = 1)>0]

    R&D Spend  Administration  Marketing Spend       State     Profit
19   86419.70       153514.11              NaN    New York  122776.86
47        NaN       135426.92              NaN  California   42559.73
48     542.05        51743.15              NaN    New York   35673.41
49        NaN       116983.80         45173.06  California   14681.40

In [56]:
startups.dropna()

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75

In [57]:
startups.dropna(axis = 1)

    Administration       State     Profit
0        136897.80    New York  192261.83
1        151377.59  California  191792.06
2        101145.55     Florida  191050.39
3        118671.85    New York  182901.99
4         91391.77     Florida  166187.94
5         99814.71    New York  156991.12
6        147198.87  California  156122.51
7        145530.06     Florida  155752.60
8        148718.95    New York  152211.77
9        108679.17  California  149759.96
10       110594.11     Florida  146121.95
11        91790.61  California  144259.40
12       127320.38     Florida  141585.52
13       135495.07  California  134307.35
14       156547.42     Florida  132602.65
15       122616.84    New York  129917.04
16       121597.55  California  126992.93
17       145077.58    New York  125370.37
18       114175.79     Florida  124266.90
19       153514.11    New York  122776.86
20       113867.30  California  118474.03
21       153773.43    New York  111313.02
22       122782.75     Florida  110352.25
23       105751.03     Florida  108733.99
24        99281.34    New York  108552.04
25       139553.16  California  107404.34
26       144135.98     Florida  105733.54
27       127864.55    New York  105008.31
28       182645.56     Florida  103282.38
29       153032.06    New York  101004.64
30       115641.28     Florida   99937.59
31       152701.92    New York   97483.56
32       129219.61  California   97427.84
33       103057.49     Florida   96778.92
34       157693.92  California   96712.80
35        85047.44    New York   96479.51
36       127056.21     Florida   90708.19
37        51283.14  California   89949.14
38        65947.93    New York   81229.06
39        82982.09  California   81005.76
40       118546.05  California   78239.91
41        84710.77     Florida   77798.83
42        96189.63  California   71498.49
43       127382.30    New York   69758.98
44       154806.14  California   65200.33
45       124153.04    New York   64926.08
46       115816.21     Florida   49490.75
47       135426.92  California   42559.73
48        51743.15    New York   35673.41
49       116983.80  California   14681.40

In [58]:
startups.fillna(0)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [59]:
startups.fillna(startups.mean())

        R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.200000       136897.80    471784.100000    New York  192261.83
1   162597.700000       151377.59    443898.530000  California  191792.06
2   153441.510000       101145.55    407934.540000     Florida  191050.39
3   144372.410000       118671.85    383199.620000    New York  182901.99
4   142107.340000        91391.77    366168.420000     Florida  166187.94
5   131876.900000        99814.71    362861.360000    New York  156991.12
6   134615.460000       147198.87    127716.820000  California  156122.51
7   130298.130000       145530.06    323876.680000     Florida  155752.60
8   120542.520000       148718.95    311613.290000    New York  152211.77
9   123334.880000       108679.17    304981.620000  California  149759.96
10  101913.080000       110594.11    229160.950000     Florida  146121.95
11  100671.960000        91790.61    249744.550000  California  144259.40
12   93863.750000       127320.38    249839.440000     Florida  141585.52
13   91992.390000       135495.07    252664.930000  California  134307.35
14  119943.240000       156547.42    256512.920000     Florida  132602.65
15  114523.610000       122616.84    261776.230000    New York  129917.04
16   78013.110000       121597.55    264346.060000  California  126992.93
17   94657.160000       145077.58    282574.310000    New York  125370.37
18   91749.160000       114175.79    294919.570000     Florida  124266.90
19   86419.700000       153514.11    224494.784894    New York  122776.86
20   76253.860000       113867.30    298664.470000  California  118474.03
21   78389.470000       153773.43    299737.290000    New York  111313.02
22   73994.560000       122782.75    303319.260000     Florida  110352.25
23   67532.530000       105751.03    304768.730000     Florida  108733.99
24   77044.010000        99281.34    140574.810000    New York  108552.04
25   64664.710000       139553.16    137962.620000  California  107404.34
26   75328.870000       144135.98    134050.070000     Florida  105733.54
27   72107.600000       127864.55    353183.810000    New York  105008.31
28   66051.520000       182645.56    118148.200000     Florida  103282.38
29   65605.480000       153032.06    107138.380000    New York  101004.64
30   61994.480000       115641.28     91131.240000     Florida   99937.59
31   61136.380000       152701.92     88218.230000    New York   97483.56
32   63408.860000       129219.61     46085.250000  California   97427.84
33   55493.950000       103057.49    214634.810000     Florida   96778.92
34   46426.070000       157693.92    210797.670000  California   96712.80
35   46014.020000        85047.44    205517.640000    New York   96479.51
36   28663.760000       127056.21    201126.820000     Florida   90708.19
37   44069.950000        51283.14    197029.420000  California   89949.14
38   20229.590000        65947.93    185265.100000    New York   81229.06
39   38558.510000        82982.09    174999.300000  California   81005.76
40   28754.330000       118546.05    172795.670000  California   78239.91
41   27892.920000        84710.77    164470.710000     Florida   77798.83
42   23640.930000        96189.63    148001.110000  California   71498.49
43   15505.730000       127382.30     35534.170000    New York   69758.98
44   22177.740000       154806.14     28334.720000  California   65200.33
45    1000.230000       124153.04      1903.930000    New York   64926.08
46    1315.460000       115816.21    297114.460000     Florida   49490.75
47   76793.349583       135426.92    224494.784894  California   42559.73
48     542.050000        51743.15    224494.784894    New York   35673.41
49   76793.349583       116983.80     45173.060000  California   14681.40

In [60]:
startups.mean()

R&D Spend           76793.349583
Administration     121344.639600
Marketing Spend    224494.784894
Profit             112012.639200
dtype: float64

In [61]:
startups

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11              NaN    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47        NaN       135426.92              NaN  California   42559.73
48     542.05        51743.15              NaN    New York   35673.41
49        NaN       116983.80         45173.06  California   14681.40